<section>
    <%= form_tag(answer_test_path) do %>
        <table class="table-common">
            <% @select_words.each do |select_word|  %>
                <tr>
                    <th><%= select_word.name %></th>
                    <td><%= text_field_tag "content", "", :placeholder =>"意味" %></td>
                </tr>                
            <% end %>
        </table>
        <div class="flex align-center">
            <%= submit_tag 'Show an answer', class: "btn btn-primary" %>
        </div>
    <% end %>
</section>