<table class="admin_items has_border">
	<thead>
		<tr>
			<th>単語</th>
			<th>品詞</th>
			<th>意味</th>
			<th>例文</th>
			<th>意味</th>
			<th>メモ</th>
			<th>イメージ画像</th>
			<th>ステータス</th>
			<th>ムズイ</th>
			<th>ジャンル</th>
		</tr>
	</thead>
	<tbody>
		<% words.each do |word| %>
			<tr>
				<td ><%= link_to word.name %></td>
				<td><%= link_to word.part_of_speech, words_path(word) %></td>
				<td ><%= word.price %>円</td>
				<td><%= link_to word.genre.name, admin_words_path(genre_id: word.genre_id) %></td>
				<td>
					<% if word.is_active? %>
						<span class="text-active">販売中</span>
					<% else %>
						<span class="text-invalid">販売停止中</span>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>