<div class="container about">
    <div class="row">
        <div class="col-lg-12 flex">            
            <h2>
                EIGTAN使い方               
            </h2>
            <p><h3>2つの使い方</h3><p>
            <p>
                <h3>
                    1 用意されたエンジニア用英単語を暗記する<br>
                    →プログラミングで出てくる単語を厳選。これさえ覚えればグーグル翻訳で訳す必要なし！！
                </h3>
            </p>
            <p>
                <h3>
                    2 ご自身で登録した英単語を暗記する<br>
                    →わからない単語をコピペで登録。自分だけの単語帳を作る！！<br>
                    登録の際に例文やイメージ画像やゴロも追加できるので覚えやすい。<br>
                    テストで正解するたびにステータスが更新されていき、全ての単語を完了にすることが目標。<br>
                    (新規→暗記中→完了)単語の理解度が可視化されているので覚えていない単語だけに集中。
                </h3>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 introduction">
            <h2>
                自己紹介               
            </h2>
            <%= image_tag 'hadeyuku.jpg', class: "logo" %>
        </div>
        <div class="col-lg-8 ">
            <h2>
                Hadeyuku               
            </h2>
            <h3>
                愛知県出身/刈谷北高校/明治大学政治経済学部卒<br>
                新卒で中古車輸出会社の海外営業に就職。タンザニアで新オフィスの立ち上げを行う。大学時代のフランス留学と海外営業で英語力を培い、TOEIC940点。<br>
                現在はプログラミンを学ぶべく、　DMM WEB CAMPで修行中。<br>
            <h3>
        </div>
    </div>
</div>