<div class="container about">
    <div class="row">
        <div class="col-lg-12">            
            <h2>
                EIGTAN使い方               
            </h2>
            <p><h3>2つの使い方</h3><p>
            <p>
                <h3>
                    1 用意されたエンジニア用英単語を暗記する<br>
                    →プログラミングで出てくる単語を厳選して暗記。
                </h3>
            </p>
            <p>
                <h3>
                    2 ご自身で登録した英単語を暗記する<br>
                    →わからない単語をコピペで登録して暗記。
                    登録の際に例文やイメージ画像やゴロも追加できるので覚えやすい。<br>
                </h3>
            </p>
        </div>
    </div>
</div>