<div class="main-visual"></div>
<div class="container top">
    <div class="row">
        <div class="col-lg-12">            
            <h2>
                ENGTAN is for engineers who would like to expand thier English vocabularies<br>                
            </h2>
            <h3>
                ENGTANG2つの使い方<br>
                1 用意されたエンジニア用英単語を暗記する<br>
                2 ご自身で登録した英単語を暗記する
            </h3>
            <div>
                <%= link_to "Let's get started!!", about_path, class: "btn btn-primary mx-auto d-block" %>
            </div>
        </div>
    </div>
</div>