//new.html.erb

.registration{
    .row{
        display: flex;
        justify-content: center;
    }
    .td{
        width: 70%;
    }
    .actions{
        display: flex;
        justify-content: center;
    }
    .login{
        text-align: right;
    }
}

//new.html.erb