/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

//ヘッダー
nav{
border-bottom: 1px solid #ccc;
    ul{
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
        li{
        width: 160px;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
            &:first-child{
                border-left: 1px solid #ccc;
                padding: 0;
                margin-right:auto;
            }
            &:nth-child(7){
                width: 250px;
                display: flex;
                align-items: flex-end;
            }
            &:nth-child(8){
                width: 250px;
                display: flex;
                align-items: flex-end;
            }
            a{
                display: block;
                line-height: 100px;
                margin:0 auto;
                text-decoration: none;
                color: navy;
                &:hover{
                    background-color:#F8E750;
                    border-bottom: 5px solid #F8E750; 
                }
            }
            .logo{
                height: 100px;
                width: 100px;
            }
            
        }
    }
}
//ヘッダー

//フッター
footer{
    background-color: white;
    text-align: center;
    padding-top: 30px;
}
//フッター

//テーブル共通2行<table class="table-common">になってるもの
.table-common{
    width: 100%;
    border-collapse: collapse;
    margin: 30px auto;
    
  
    tr{
        border-bottom: solid 2px white;
        &:last-child{
            border-bottom: none;
        }
    
        th{
            position: relative;
            text-align: left;
            width: 30%;
            background-color: #85d3dd;
            color: white;
            text-align: center;
            padding: 10px 0;
            &:after{
                display: block;
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                top:calc(50% - 10px);
                right:-10px;
                border-left: 10px solid #52c2d0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }
        }
      
        td{
            text-align: left;
            width: 70%;
            text-align: center;
            background-color: #eee;
            padding: 10px 0;
        }
    }
}
//テーブル共通

//テーブル3行以上
.index{
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto 30px auto;
    thead{
        tr{
            border-bottom: solid 2px white;
            text-align: center;
            &:last-child{
                border-bottom: none;
            }
            th{
                background-color: #85d3dd;
                color: white;
                height: 50px;
                text-align: center; 
                &:after{
                    display: block;
                    content: "";
                    text-align: center; 
                    
                }                                  
            } 
        }
    }
    tbody{
        text-align: center;
        tr{
            border-bottom: solid 2px white;
            text-align: center;
            &:last-child{
                border-bottom: none;
            }
            td{
                text-align: center;
                background-color: #eee;
                height: 50px;
                .favorite-btn{
                    list-style: none; 
                }
            }
        }
    }
}
//テーブル3行以上

//flexboxに対応させる
.flex {display: flex;}
//flexboxに対応させる


//中央寄せにする
.align-center {
    justify-content: center;
}
//中央寄せにする

//右寄せにする
.align-right{
    justify-content: flex-end;
}
//右寄せにする

//左右寄せにする
.space-between{
    justify-content: space-between;
}
//左右寄せにする

//ログインボタン上にスペースを空ける
.btn-lg{
    margin-top: 30px;
}
//ログインボタン上にスペースを空ける

//ログインテーブルの上にスペース上げる
.table-lg{
    margin-top: 30px;
}

//本日の英単語
#today {
    list-style: none;
    display: flex;  
    li {
    width: 200px;
    text-align: center;
    background-color: #85d3dd;
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
    }
}