/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

//ヘッダー
nav{
border-bottom: 1px solid #ccc;
    ul{
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
        li{
        width: 150px;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
            &:first-child{
                border-left: 1px solid #ccc;
                padding: 0;
                margin-right:auto;
            }
            &:nth-child(2){
                border-left: 0px none;
                width: 250px;
                display: flex;
                align-items: flex-end;
            }
            a{
                display: block;
                line-height: 100px;
                margin:0 auto;
                text-decoration: none;
                color: navy;
                &:hover{
                    background-color:#F8E750;
                    border-bottom: 5px solid #F8E750; 
                }
            }
            .logo{
                height: 80px;
                width: 80px;
            }
            
        }
    }
}
//ヘッダー

//フッター
footer{
     background-color: white;
     text-align: center;
     padding-top: 30px;
 }
//フッター